@mixin mobile {
    @media screen and (max-width: 739px) {
        @content;
    }
}
@font-face {
    font-family: fontMain;
    src: url('../../assets/fonts/roboto/Roboto-Regular.ttf');
}
* {
    box-sizing: border-box;
}

$active--Color: #31a24c;
:root {
    --primary: #fe2c55;
    --backGround-App: #000;
    --backGround-App2: #6e01fd;
    --text-color: #2b3036;
    --text-chat: #333;
    --Icon-Color: #fff;
    --backGround--page: #fff;
    --backGround--page2--white: #fff;

    --backgroundTransparent: transparent;

    --default-layout-Nav-height: 60px;
    --default-layout-Nav-height--mobile: 50px;
    --default-layout--mobile--bottom: 8px;
}

html {
    font-size: 62.5%;
}
body {
    font-family: fontMain;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
a {
    text-decoration: none !important;
}
.centerRow {
    display: flex;
    align-items: center;
    justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}
.autoCenter {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.button-unauthorized {
    opacity: 0.5;
    cursor: auto !important;
    color: #fff !important;
    &:hover {
        background: #222222;
        color: #fff;
        border-color: #222222;
    }
}
.margin_top-100 {
    margin-top: 100px;
}
.margin_top-80 {
    margin-top: 80px;
}
